.App {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1vw 1vw 2vw 1vw;
  background-color: #f6bd20;
  border-bottom: 1.2vw solid #292929;
}

 .navBar {
  display: flex;
  align-items: center;
  list-style-type: none;
  flex-direction: column;
}

.navBar a {
  align-items: center;
  text-decoration: none;
  color: #292929;
  font-size: 2em;
}

.navBar a:hover {
  color: #c52018;
}

.navBar li {
  padding: 0 1.5% 0 0;
}

.navBar .active{
  color: #c52018;
}

.mobile-menu{
  padding-top: .6em;
  font-size: 30px;
}

 .mobile-nav {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
  }

  .slideBar{
    padding-right: 10%;
    padding-left: 10%;
    border-right: 1.2vw solid #292929;
    display: flex;
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    background-color: white;
  }

   .slide {
    position: fixed;
    width: 0;
    overflow-x: hidden;
  } 

  .nav {
    margin-top: 15%;
  }
 
 
@media screen and (min-width: 480px) {
 

  .header {
    flex-direction: row;
    display: flex;
  }

  .navBar {
    visibility: visible;
    flex-direction: row;
  }

  .show{
    display: inline-block;
    width: 20%;
    height: 330px;
    margin: 0 2.5%;
    margin-bottom: 2%;
  }

  .show img{
    width: 100%;
    height: 100%;
  }

  .navBar a {
  color: white;
  font-size: 1.75em;
}

  .mobile-menu {
    display: none;
  }

  .slideBar {
    position: relative;
    visibility: hidden;
    padding-right: 0%;
    padding-left: 0%;
  }

  .slide {
    width: 55%;
    position: relative;
    visibility: hidden;
  }

  .nav {
    margin-top: 0%;
  }
}

