.App {
  text-align: center;
  margin: 0 auto;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1vw 1vw 1vw 1vw;
  border-bottom: 3px solid #08acd5;
}

 .navBar {
  display: flex;
  align-items: center;
  list-style-type: none;
  flex-direction: column;
}

.navBar a {
  font-family: 'Crete Round', serif;
  text-decoration: none;
  color: #292929;
  font-size: 2em;
  width: 100px;
}



.navBar li {
  margin-top: 15%;
}

.navBar .active{
  width: 100px;
  color: #ee1800;
}

.mobile-menu{
  padding-top: .6em;
  font-size: 30px;
}

 .mobile-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .slideBar{
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
    border-right: 1.2vw solid #292929;
    display: flex;
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    background-color: white;
  }

   .slide {
    position: fixed;
    width: 0;
    overflow-x: hidden;
  }

  .nav {
    margin-top: 15%;
  }

  .allSched {
    margin-bottom: 50px;
  }

  .schedule {
    display: flex;
    border-left: 20px solid lightgrey;
    border-right: 20px solid lightgrey;
  }

  .schedData {
    flex-grow: 1;
    width: 50px;
    color: #008ae6;
    font-size: 18px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }

  .schedHead {
    color: black;
    font-size: 15px;
  }

  .pageHeading {
    margin-bottom: 50px;
    font-family: 'Crete Round', serif;
    text-decoration: underline double;
  }

  .show {
    display: inline-block;
    width: 40%;
    height: 330px;
    margin: 0 2.5%;
    margin-bottom: .5%;
  }

  .show img{
    width: 100%;
    height: 93%;
    border-radius: 5%;
  }

  .home{
    display: flex;
    flex-direction: column;
  }

  .pageTitle{
    color: #292929;
    font-family: 'Crete Round', serif;
    font-size: 3em;
  }

  .singleShow{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
    padding-top: 3%;
  }

  .singleShow ul{
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    color: #292929;
  }

  .singleShow p{
    color: #292929;
    width: 90%;
    line-height: 150%;
  }

  .title-of-show{
    border-bottom: 2px solid #292929;
  }

  .favButton{
    font-size: 1.2em;
    height: 40px;
    width: 25vw;
    background-color: #08acd5;
    border: 1px solid #08acd5;
    border-radius: 5%;
  }

  .favButton a{
    text-decoration: none;
    color: white;
  }

  .favBtn-container{
    display: flex;
    width: 84%;
    align-items:center;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 13%;
  }

  .singleShow img {
    width: 210px;
    height: 295px;
  }

  /* Page change buttons  */

  .changepage{
    display: flex;
    width: 84%;
    align-items:center;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 8%;
    padding-left: 8%;
  }

  .pagebtn{
    color: white;
    font-size: 1em;
    height: 40px;
    width: 30%;
    background-color: #08acd5;
    text-decoration: none;
    border: 1px solid #08acd5;
    border-radius: 5%;
  }

  .currentpage{
    font-family: 'Crete Round', serif;
    font-size: 2em;
    color: #292929;
  }

  footer{
    position: fixed;
    background-color: #08acd5;
    color: white;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 3%;
    text-align: center;
    margin-top: 5%;
    font-family: 'Crete Round', serif;
  }

  .containerform-reg{
    border: 1px solid #292929;
  }

  .containerform{
    border: 1px solid #292929;
  }
  /* login and register forms  */

  .formcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
  }

  .formcontainer form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    padding: 5% 10% 0% 10%;
    border-radius: 7%;
  }
  .containerform{
    padding: 5%;
    margin-bottom: 20%;
  }

  .containerform-reg{
    padding: 5%;
    margin-bottom: 5%;
  }

  .loginbtn{
    color: white;
    font-size: 1.3em;
    height: 40px;
    width: 100%;
    background-color: #292929;
    text-decoration: none;
    border: 2px solid #292929;
    border-radius: 4%;
  }

  .search-submit{
    color: white;
    font-size: .65em;
    height: 10%;
    width: 50%;
    background-color: #292929;
    text-decoration: none;
    border: 2px solid #292929;
    border-radius: 4%;
  }


  .search-bar{
    border: 1px solid #292929;
    padding:5%;
  }

@media screen and (min-width: 768px) {

  .search-submit{
    width: 110%;
    font-size: .55em;
  }

  .singleShow p{
    width: 55%;
  }

  .search{
    display: flex;
   flex-direction: row;
   align-items: center
  }

  .mobile-nav {
    justify-content: space-between;
  }

  .header {
    flex-direction: row;
    display: flex;
  }

  .favButton{
    width: 15vw;
  }

  .favBtn-container{
    width: 50%;
  }

  .navBar {
    display: flex;
    visibility: visible;
    flex-direction: row;
    width: 500px;
    justify-content: flex-end;
  }
  .navBar li{
    margin-top: 0%;
    width: 100px;
  }

  .wide-load{
    width: 100px;
  }

  .nav {
    margin-top: 0%;
    right: 0%;
  }

  .navBar a{
    flex-direction: row;
    color: #292929;
    font-size: 1.25em;
    right: 0%;
    padding: 3%;
  }

  .navBar a:hover {
  color: #ee1800;
}

  .slideBar {
    visibility: hidden;
    padding-right: 0%;
    padding-left: 0%;
    padding-top: 0%;
  }

  .slide {
    position: relative;
    justify-content: flex-start;
    width: 50%;
    visibility: hidden;
    right: 16%;
    overflow-x: visible;
  }

  .mobile-menu {
    display: none;
  }

  .show{
    display: inline-block;
    width: 20%;
    height: 330px;
    margin: 0 2.5%;
    margin-bottom: 7%;
  }

  .show img{
    width: 250px;
    height: 370px;
  }

  .show img:hover{
    transform: scale(1.1);
  }

  .favButton:hover{
    transform: scale(1.1);
  }

  .pagebtn:hover{
    transform: scale(1.1);
  }

  .changepage{
    width: 40%;
    padding-right: 30%;
    padding-left: 30%;
  }

  .formcontainer form{
    width: 20%;
  }

  .containerform:hover{
    border: 1px solid #ee1800;
    transform: scale(1.1);
  }

  .containerform-reg:hover{
    border: 1px solid #ee1800;
    transform: scale(1.1);
  }

  .loginbtn:hover{
    transform: scale(1.1);
  }

  .body{
    margin-bottom: 5%;
  }

  footer{
    margin-top: 3%;
    padding: 1%;
  }

}
